# VM target
VM_HOST=192.168.0.119
VM_API_URL=http://192.168.0.119:3000
VM_CORE_URL=http://192.168.0.119:8100

# Optional if auth enabled on VM
MASCARADE_API_KEY=

# Docker SSH context on VM
DOCKER_VM_CONTEXT=mascarade-vm
