[Unit]
Description=Mascarade P2P Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/mascarade/core
ExecStart=/usr/bin/python3 /mascarade/core/scripts/p2p/node_start_bootstrap.py
Restart=always
RestartSec=5
Environment=PYTHONPATH=/mascarade/core

[Install]
WantedBy=multi-user.target
